<div class="container">

  <form #GradData="ngForm" class="well form-horizontal" action=" " method="post" id="contact_form" (ngSubmit)="OnSubmitData(GradData.value)">
    <fieldset>

      <!-- Form Name -->
      <legend>
        <div>
          <h2><b>Registration Form</b></h2>
        </div>
      </legend><br>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">First Name</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="first_name" placeholder="First Name" class="form-control" required type="text" #name="ngModel"ngModel>
            <span class="error" *ngIf="name.invalid && name.touched">Please Enter Your Name</span>
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Last Name</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="last_name" placeholder="Last Name" class="form-control" type="text" ngModel>
          </div>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">E-Mail</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input name="email" placeholder="Enter Barclays email id" class="form-control "type="E-Mail" #email="ngModel" required ngModel>
            <span class="error" *ngIf="email.invalid && email.touched">Please Enter Your Email</span> 
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Work Location</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select name="Work_loc" class="form-control selectpicker" ngModel required>
              <option value="" disabled hidden selected >Work Location</option>
              <option>Northhampton</option>
              <option>Fleet</option>
              <option>Radbroke</option>
              <option>Glasgow</option>
              <option>Remote LIW</option>
            </select>
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">City of Residence</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="user_city" placeholder="City of Residence" class="form-control" type="text" ngModel required="ngModel">
          </div>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">Are you or have you been a Barclays Apprentice?</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select name="apprentice" class="form-control selectpicker" ngModel>
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
        </div>
      </div>
      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Are you or have you been a Barclays Graduate?</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select name="graduate" class="form-control selectpicker" ngModel>
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Corporate Grade</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select name="grade" class="form-control selectpicker" ngModel>
              <option value="" disabled selected hidden>Corporate Grade</option>
              <option>BA1</option>
              <option>BA2</option>
              <option>BA3</option>
              <option>BA4</option>
              <option>Asst Vice President</option>
              <option>Vice President</option>
              <option>Director</option>
              <option>Managing Director</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Gender</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select name="gender" class="form-control selectpicker" ngModel>
              <option value="" disabled selected hidden>Gender</option>
              <option>Male</option>
              <option>Female</option>
              <option>Prefer Not to Say</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">University Attended:</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="user_uni" placeholder="Enter the name of the University" class="form-control" type="text" ngModel>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Name of degree or qualification obtained:</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="user_degree" placeholder="Enter the name of the degree/qualification received" class="form-control" type="text" ngModel>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Year of Graduation:</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="user_gradyear" placeholder="Enter your year of graduation" class="form-control" ng-model="year" ng-pattern="/^[0-9]{4}/" ngModel>
          </div>
        </div>
      </div>

      
      <div class="form-group">
        <label class="col-md-4 control-label">Are you a member of any Barclays Networks?</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select name="barclays_net" class="form-control selectpicker" ngModel>
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">If yes, which which network do you belong to?</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select name="user_network" class="form-control selectpicker" ngModel>
              <option>Spectrum</option>
              <option>WIN</option>
              <option>Women in Technology</option>
              <option>Embrace</option>
              <option>Reach</option>
              <option>Inspire</option>
              <option>Prefer not to say</option>
            </select>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-md-4 control-label">Are you willing to travel (within reaonable distance) to careers events external to Barclays (i.e. University or School)?</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select name="user_traveloption" class="form-control selectpicker" ngModel>
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Do you have any required adjustments in order to attend physical or virtual career events?</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select name="user_adjustments" class="form-control selectpicker" ngModel>
              <option>Yes</option>
              <option>No</option>
              <option>Prefer not to say</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Contact No.</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input name="contact_no" placeholder="(639)" class="form-control" type="text" ngModel>
          </div>
        </div>
      </div>

      <!-- Select Basic -->

     <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4"><br>
          <button type="submit" class="btn btn-warning"> 
            <span class="glyphicon glyphicon-send">SUBMIT</span></button>
        </div>
      </div>

    </fieldset>
  </form>
</div>
