<link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.9.95/css/materialdesignicons.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha256-Zr3vByTlMGQhvMfgkQ5BtWRSKBGa2QlspKYJnkjZTmo=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />

<section class="candidates-profile-bg">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="candidates-profile-details text-left">
                        <h1 class="text-black candidates-profile-name mb-2">Women in Barclays- Graduate & Intern Opportunities 2022</h1>    
                   </div>
                   <div style="display: flex; justify-content: flex-end; width:1100px">
                    <div class="desc">
                        <p> Event Description giving a brief about the event and purpose of the event</p>
                    </div>
                <div class="cal" >
                    <div class="month">January</div>
                    <div class="date">1</div>
                </div>
                  </div>
                </div>
            </div>
            <div class="row">
                <div style="display: flex; justify-content: flex-end; width:1100px;">
                  <h2 style="margin-top: 3%; margin-bottom: -5%;">10:30 IST Onwards</h2>
                </div>
            </div>
        </div>
</section>

<section class="section"> 
    <div class="container">
     <div class="row">
        <div class="col-lg-5">
            <h2 class="text-dark" style="font-weight: 500;">Requirements:</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="job-detail candidates-profile-education text-center text-muted mb-5 mt-5">
                <h4 class="text-uppercase f-17"><a href="#" class="text-blue">Tech Senior Leader</a></h4>
                <p class="f-14 mb-1">Location: Virtual</p>
                <hr class="mt-2 mb-2">
                <p class="text dark"><span style="font-size: medium;"> Additional Details &nbsp;</span><br> <br>Member of Barclays Spectrum Network</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5" style="margin-top:auto;">
            <h2 class="text-dark" style="font-weight: 500;"> Considerable Candidates</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="job-detail job-list-box mt-4 p-4">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="job-list-desc candidates-profile-exp-desc">
                            <h5 class="f-19 mb-2"><a href="#" class="text-dark">Web Themes Pvt.Ltd</a></h5>
                            <p class="text-muted mb-0 f-16">PHP Developer</p>
                            <p class="text-muted mb-0 f-16">Jan 2016 - Dec 2017</p>
                            <p class="text-muted mb-0 f-16">Salary : $950</p>
                            <p class="text-muted mb-0 f-16"><i class="mdi mdi-bank mr-2"></i>www.webthemesltd.co.in</p>
                            <p class="text-muted mb-0 f-16"><i class="mdi mdi-map-marker mr-2"></i>1919 Ward Road West Nyack, NY 10994</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="job-detail job-list-box mt-4 p-4">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="job-list-desc candidates-profile-exp-desc">
                            <h5 class="f-19 mb-2"><a href="#" class="text-dark">Web code Pvt.Ltd</a></h5>
                            <p class="text-muted mb-0 f-16">Web Developer</p>
                            <p class="text-muted mb-0 f-16">Fab 2015 - July 2018</p>
                            <p class="text-muted mb-0 f-16">Salary : $1100</p>
                            <p class="text-muted mb-0 f-16"><i class="mdi mdi-bank mr-2"></i>www.webcodeltd.co.in</p>
                            <p class="text-muted mb-0 f-16"><i class="mdi mdi-map-marker mr-2"></i>519 Leo Street Butler, PA 16001</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="job-detail job-list-box mt-4 p-4">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="job-list-desc candidates-profile-exp-desc">
                            <h5 class="f-19 mb-2"><a href="#" class="text-dark">Brand Themes Pvt.Ltd</a></h5>
                            <p class="text-muted mb-0 f-16">PHP Developer</p>
                            <p class="text-muted mb-0 f-16">Jan 2016 - Dec 2017</p>
                            <p class="text-muted mb-0 f-16">Salary : $1000</p>
                            <p class="text-muted mb-0 f-16"><i class="mdi mdi-bank mr-2"></i>www.brandthemesltd.co.in</p>
                            <p class="text-muted mb-0 f-16"><i class="mdi mdi-map-marker mr-2"></i>519 Leo Street Butler, PA 16001</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="job-detail job-list-box mt-4 p-4">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="job-list-desc candidates-profile-exp-desc">
                            <h5 class="f-19 mb-2"><a href="#" class="text-dark">Small Themes Pvt.Ltd</a></h5>
                            <p class="text-muted mb-0 f-16">PHP Developer</p>
                            <p class="text-muted mb-0 f-16">Jan 2016 - Dec 2017</p>
                            <p class="text-muted mb-0 f-16">Salary : $900</p>
                            <p class="text-muted mb-0 f-16"><i class="mdi mdi-bank mr-2"></i>www.smallthemesltd.co.in</p>
                            <p class="text-muted mb-0 f-16"><i class="mdi mdi-map-marker mr-2"></i>519 Leo Street Butler, PA 16001</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>