<nav class="navbar navbar-light bg-light">
	<div class="container">
		<div class="d-flex align-items-center">
			<form action="" class="search-bar">
			<input type="search" name="search" pattern=".*\S.*" required style="float: right;"
				placeholder="Search for Grads">
			<button class="search-btn" type="submit">
				<span>Search</span>
			</button>
		</form>
		<form action="" class="search-bar">

			<input type="search" name="search" pattern=".*\S.*" required style="float: right;"
				placeholder="Search for Events">
			<button class="search-btn" type="submit">
				<span>Search</span>
			</button>
		</form>
		</div>
	</div>
</nav>