<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                  </div>
             <div class="col-md-6">
                <div class="profile-head">
                    <h1>
                        Sahil Chugh
                    </h1>
                    <h3>
                        Tech Analyst Intern
                    </h3>
                    <p class="proile-rating"><span> Extension: &nbsp; </span>    2928 9392 </p>
                    <p class="proile-rating"><span>International Dial:  &nbsp;</span>++44 (0) 207 003 9392</p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">About Grad</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">Education</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>Reach Out to our Grads</p>
                    <a href="">Email ID: sahil.chugh1@barclays.com</a><br />
                    <a href="">Phonebook link</a><br />

                    <p>ADDRESS</p>
                       <a href="">GERA Commerzone, SEZ Kharadi, Pune India</a><br />
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>BRID</label>
                            </div>
                            <div class="col-md-6">
                                <p>G-3893020</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>Sahil Chugh</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Barclays Apprentice:</label>
                            </div>
                            <div class="col-md-6">
                                <p>No</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Barclays Graduate</label>
                            </div>
                            <div class="col-md-6">
                                <p>Yes</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Corporate Grade</label>
                            </div>
                            <div class="col-md-6">
                                <p>Asst Vice President</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Gender</label>
                            </div>
                            <div class="col-md-6">
                                <p>Male</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>University:</label>
                            </div>
                            <div class="col-md-6">
                                <p>Thapar University</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name of Degree:</label>
                            </div>
                            <div class="col-md-6">
                                <p>Bachelors in Engineering</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Year of Graduation</label>
                            </div>
                            <div class="col-md-6">
                                <p>2023</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>