
  <div class="row">
      <div class="col-lg-3">
          <div class="left-sidebar">
              <div class="accordion" id="accordionExample">
                  <div class="card mt-4">
                      <a data-toggle="collapse" href="#collapseOne" class="job-list" aria-expanded="true" aria-controls="collapseOne">
                          <div class="card-header" id="headingOne">
                              <h4 class="mb-0 text-dark f-18">Corporate Grade</h4>
                          </div>
                      </a>
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                          <div class="card-body p-0">
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input all-select" id="customCheckAll">
                                  <label class="custom-control-label ml-1 text-muted f-15" for="customCheckAll">BA 1</label>
                              </div>

                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input all-select" id="customCheck22">
                                  <label class="custom-control-label ml-1 text-muted f-15" for="customCheck22">BA 2</label>
                              </div>

                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input all-select" id="customCheck23">
                                  <label class="custom-control-label ml-1 text-muted f-15" for="customCheck23">BA 3</label>
                              </div>

                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input all-select" id="customCheck3">
                                  <label class="custom-control-label ml-1 text-muted f-15" for="customCheck3">BA 4</label>
                              </div>

                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input all-select" id="customCheck4">
                                  <label class="custom-control-label ml-1 text-muted f-15" for="customCheck4">Asst Vice President</label>
                              </div>

                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input all-select" id="customCheck4">
                                <label class="custom-control-label ml-1 text-muted f-15" for="customCheck4">Vice President</label>
                            </div>

                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input all-select" id="customCheck4">
                              <label class="custom-control-label ml-1 text-muted f-15" for="customCheck4">Director</label>
                          </div>

                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input all-select" id="customCheck4">
                            <label class="custom-control-label ml-1 text-muted f-15" for="customCheck4">Managing Director</label>
                        </div>
                   </div>
                </div>
            </div>

                  <div class="card mt-4">
                      <a data-toggle="collapse" href="#collapsetwo" class="job-list" aria-expanded="true" aria-controls="collapsetwo">
                          <div class="card-header" id="headingtwo">
                              <h4 class="mb-0 text-dark f-18">Gender</h4>
                          </div>
                      </a>
                      <div id="collapsetwo" class="collapse show" aria-labelledby="headingtwo">
                          <div class="card-body p-0">
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="customCheck5">
                                  <label class="custom-control-label ml-1 text-muted f-15" for="customCheck5">Male</label>
                              </div>

                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="customCheck6">
                                  <label class="custom-control-label ml-1 text-muted f-15" for="customCheck6">Female</label>
                              </div>

                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="customCheck7">
                                  <label class="custom-control-label ml-1 text-muted f-15" for="customCheck7">Others</label>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="card mt-4">
                      <a data-toggle="collapse" href="#collapsethree" class="job-list" aria-expanded="true" aria-controls="collapsethree">
                          <div class="card-header" id="headingthree">
                              <h4 class="mb-0 text-dark f-18">Work Location</h4>
                          </div>
                      </a>
                      <div id="collapsethree" class="collapse show" aria-labelledby="headingthree">
                          <div class="card-body p-0">
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="customCheck13">
                                  <label class="custom-control-label ml-1 text-muted f-15" for="customCheck13">Northhampton</label>
                              </div>

                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="customCheck14">
                                  <label class="custom-control-label ml-1 text-muted f-15" for="customCheck14">Fleet</label>
                              </div>

                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="customCheck15">
                                  <label class="custom-control-label ml-1 text-muted f-15" for="customCheck15">Radbroke</label>
                              </div>

                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="customCheck16">
                                  <label class="custom-control-label ml-1 text-muted f-15" for="customCheck16">Glasgow</label>
                              </div>

                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="customCheck17">
                                  <label class="custom-control-label ml-1 text-muted f-15" for="customCheck17">Remote WFH</label>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>


<div class="aditi">
   <div class="display-searchdata" style="display:inline; margin-top: 10in;">
    <table style="width: 50em; top: 5em;" class="table align-middle mb-100 bg-white" align="center" >
    <thead class="bg-light">
      <tr>
        <th>Name</th>
        <th>Title</th>
        <th>Location</th>
        <th>Gender</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of grads">
        <td>
          <div class="d-flex align-items-center">
           <div class="ms-3">
              <p class="fw-bold mb-1">{{user.name}}</p>
              <p class="text-muted mb-0">{{user.id}}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">{{user.name}}</p>
          <p class="text-muted mb-0">{{user.name}}</p>
        </td>
        <td>
          <span class="fw-normal mb-1">{{user.id}}</span>
        </td>
        <td>{{user.id}}</td>
        <td>
          <a style="cursor: pointer;" class="btn btn-link btn-md btn-rounded" mdbRipple rippleColor="dark" (click)="ToProfileGrads()">
            View Profile
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
